// Mixin for setting both width and height of an element
// @param $width: The width size.
// @param $height: The height size @default same of $width.
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Mixin for adjusting the font size
// @param $to-size: The size of the desired font
// @param $line-height: The desired line height (Default: auto)
// @param $from-size: The parent's font size (Default: $base-font-size)
@mixin adjust-font($to-size, $line-height: auto) {
    font-size: $to-size * $base-font-size;
    @if $line-height != auto {
        line-height: $line-height * $base-font-size;
    }
}
