//Mobile width
$mobile-width: 320px;
//Tablet width
$tablet-width: 768px;
//Desktop width
$regular-desktop-width: 1025px;
//Medium width
$medium-desktop-width: 1366px;
//Large desktop width
$large-desktop-width: 1600px;

//Devices
@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) { @content; }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$regular-desktop-width - 1px}) { @content; }
}

@mixin desktop {
    @media (min-width: #{$regular-desktop-width}) { @content; }
}

@mixin regular-desktop {
    @media (min-width: #{$regular-desktop-width}) and (max-width: #{$medium-desktop-width - 1px}) { @content; }
}

@mixin medium-desktop {
    @media (min-width: #{$medium-desktop-width}) and (max-width: #{$large-desktop-width - 1px}) { @content; }
}

@mixin large-desktop {
    @media (min-width: #{$large-desktop-width}) { @content; }
}

//Orientations
@mixin portrait {
    @media (orientation: portrait) { @content; }
}

@mixin landscape {
    @media (orientation: landscape) { @content; }
}
