.status-bar {
    display: flex;
    flex-direction: row;
    height: 21px;
    align-items: stretch;
    flex-wrap: wrap;
    background: lighten(#292929, 4%);

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 3;

        button {
            appearance: none;
            border: 0;
            padding: 0;
            outline: none;
            text-align: center;
            margin: 0 3px;
            border-radius: 50%;
            cursor: pointer;
            @include size(13px, 13px);
            @include adjust-font(15px, 13px);

            i {
                text-align: center;
                @include size(100%, 13px);
                display: block;
            }

            &.icon-close {
                background: $close-button-color;
                color: $close-button-color;

                &:hover {
                    color: darken($close-button-color, 35%);
                }
            }

            &.icon-minimize {
                background: $minimize-button-color;
                color: $minimize-button-color;

                &:hover {
                    color: darken($minimize-button-color, 20%);
                }
            }

            &.icon-enlarge {
                background: $enlarge-button-color;
                color: $enlarge-button-color;

                &:hover {
                    color: darken($enlarge-button-color, 20%);
                }
            }
        }
    }

    .title {
        display: flex;
        @include adjust-font(16px, 27px);
        text-align: left;
        flex-grow: 97;
        color: inherit;
    }
}

.content {
    @extend %monospace;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid transparent;
    padding: 2px;
    @include adjust-font(16px, 18px);
    background: #292929;
    box-sizing: border-box;

    .line {
        &.active { display: block; }
        .prefix {
            .user { color: #8AD733; }
            .host { color: #8AD733; }
            .path { color: #729FCF; }
            .root {
                .user { color: #FFFFFF; }
                .host { color: #FFFFFF; }
                .path { color: #FFFFFF; }
            }
        }
    }
}

&.light {
    .content {
        color: $gray-text-color;
        border-color: #EBEBEB;
        background: #FFFFFF;
    }
    .typed-cursor {
        background-color: $gray-text-color;
    }
}

.typed-cursor {
    opacity: 1;
    background-color: $main-text-color;
    animation: blink 1s infinite;
    @keyframes blink {
        0% { opacity: 0; }
        49% { opacity: 0; }
        50% { opacity: 1; }
    }
}
