// Base font size
$base-font-size: 12px
// Base line height
$base-line-height: 1
// Setting font base option
+establish-baseline

%sans-serif
    font-family: sans-serif

%monospace
    font-family: monospace