{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": "warn",
    "@typescript-eslint/consistent-type-definitions": "error",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": ",^_"
      }
    ],
    "no-console": "error",
    "import/no-deprecated": "error",
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "index",
          "parent",
          "sibling"
        ]
      }
    ],
  }
}
