{
    "extension": [".ts"],
    "include": ["src/**/*.ts"],
    "exclude": [
        "src/index.ts",
        "src/*.test.ts",
        "**/*.d.ts",
        "node_modules/*"
    ],
    "require": ["ts-node/register"],
    "reporter": [
        "lcov",
        "html",
        "text"
    ],
    "all": true,
    "check-coverage": false
}
