//Fonts
$base-font-size: 0.750;

//Colors
$main-text-color: #F1F1F1;
$main-windows-color: #69C1F0;
$gray-text-color: #878787;
$close-button-color: #FF4F37;
$minimize-button-color: #FEC600;
$enlarge-button-color: #00DB51;
