.#{$shell}--light {
    .#{$shell}__#{$content} {
        color: $gray-text-color;
        border-color: #EBEBEB;
        background: #FFFFFF;

        .line {
            &.line--root {
                .line__prefix {
                    .user { color: $gray-text-color; }

                    .host { color: $gray-text-color; }

                    .path { color: $gray-text-color; }
                }
            }
        }
    }

    .#{$shell}__#{$typedCursor} {
        background-color: $gray-text-color;
    }
}
