.#{$shell}--osx {
    .#{$shell}__status-bar {
        background-image: linear-gradient(to bottom, #EBEBEB 0%, #CBCBCB 100%);
        position: relative;

        .#{$statusBar}__title {
            color: $gray-text-color;
            text-align: center;
            flex-grow: 100;
        }
    }

    .#{$shell}__#{$content} {
        background: rgba(#000000, 0.9);

        .line {
            .line__prefix {
                .user { color: #FFFFFF; }

                .host { color: #FFFFFF; }

                .path { color: #FFFFFF; }
            }

            &.line--root {
                .line__prefix {
                    .user { color: #FFFFFF; }

                    .host { color: #FFFFFF; }

                    .path { color: #FFFFFF; }
                }
            }
        }
    }

    &.#{$shell}--light {
        color: $gray-text-color;

        .#{$shell}__#{$content} {
            border-color: #EBEBEB;
            background: #FFFFFF;

            .line {
                .line__prefix {
                    .user { color: $gray-text-color; }

                    .host { color: $gray-text-color; }

                    .path { color: $gray-text-color; }
                }

                &.line--root {
                    .line__prefix {
                        .user { color: $gray-text-color; }

                        .host { color: $gray-text-color; }

                        .path { color: $gray-text-color; }
                    }
                }
            }
        }
    }
}
