.#{$shell}--ubuntu {
    .#{$shell}__status-bar {
        background-image: linear-gradient(to bottom, #3F3F3F 0%, #585858 100%);

        .icon { display: none; }

        .#{$statusBar}__title { color: #FFFFFF; }

        .#{$statusBar}__buttons {
            .button--close {
                background: #D75224;
                color: #444444;

                &:hover {
                    background: darken(#D75224, 5%);
                    color: #444444;
                }
            }

            .button--minimize, .button--enlarge {
                background: #898989;
                color: #555555;

                &:hover {
                    background: darken(#898989, 5%);
                    color: #555555;
                }
            }
        }
    }

    .#{$shell}__#{$content} {
        background: #300924;

        .line {
            .line__prefix {
                .user { color: #FFFFFF; }

                .host { color: #FFFFFF; }

                .path { color: #FFFFFF; }
            }
        }

        .line--root {
            .line__prefix {
                .user { color: #FFFFFF; }

                .host { color: #FFFFFF; }

                .path { color: #FFFFFF; }
            }
        }
    }

    &.#{$shell}--light {
        color: $gray-text-color;

        .#{$shell}__#{$content} {
            background: #FFFFFF;

            .line {
                .line__prefix {
                    .user { color: $gray-text-color; }

                    .host { color: $gray-text-color; }

                    .path { color: $gray-text-color; }
                }
            }

            .line--root {
                .line__prefix {
                    .user { color: $gray-text-color; }

                    .host { color: $gray-text-color; }

                    .path { color: $gray-text-color; }
                }
            }
        }
    }
}
