.#{$shell}--windows {
    color: #FFFFFF;
    border-radius: 0;
    box-shadow: 0 5px 20px 0 rgba(#000000, 0.5);

    .#{$shell}__status-bar {
        height: 30px;
        background-color: $main-windows-color;

        .#{$statusBar}__title {
            @include adjust-font(16px, 40px);
            color: #292929;
        }

        .#{$statusBar}__buttons {
            align-items: stretch;
            justify-content: flex-end;
            order: 1;
            padding: 0;

            .button {
                margin: 0;
                border-radius: 0;
                @include size(25px, 20px);
                @include adjust-font(18px, 20px);

                i {
                    @include size(100%, 20px);
                    @include adjust-font(20px, 20px);

                    &:before {
                        line-height: 20px;
                    }
                }

                &.button--close {
                    width: 50px;
                    background: #C75050;
                    color: #FFFFFF;

                    &:hover {
                        background: darken(#C75050, 5%);
                        color: #FFFFFF;
                    }
                }

                &.button--minimize {
                    background: transparent;
                    color: #292929;

                    &:hover {
                        background: darken($main-windows-color, 20%);
                        color: #FFFFFF;
                    }
                }

                &.button--enlarge {
                    background: transparent;
                    color: #292929;

                    &:hover {
                        background: darken($main-windows-color, 20%);
                        color: #FFFFFF;
                    }
                }
            }
        }

        .#{$statusBar}__icon {
            background: #000000;
            color: #FFFFFF;
            @include size(20px);
            display: inline-block;
            @include adjust-font(12px, 20px);
            border-radius: 3px;
            margin: 5px;
        }
    }

    .#{$shell}__#{$content} {
        border-color: $main-windows-color;
        background: #000000;

        .line {
            .line__prefix {
                .user { color: #FFFFFF; }

                .host { color: #FFFFFF; }

                .path { color: #FFFFFF; }

                .line--root {
                    .user { color: #FFFFFF; }

                    .host { color: #FFFFFF; }

                    .path { color: #FFFFFF; }
                }
            }
        }
    }
}
