.#{$shell-content} {
    @extend %monospace;
    border: .1em solid transparent;
    border-top: 0;
    padding: 2px;
    @include adjust-font(16px, 18px);
    background: #292929;
    box-sizing: border-box;
    overflow-y: auto;
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;

    .lines {
        overflow-y: auto;
    }

    .#{$line} {
        .#{$line-prefix} {
            .user { color: #8AD733; }

            .host { color: #8AD733; }

            .path { color: #729FCF; }
        }

        &.#{$line}--root {
            .#{$line-prefix} {
                .user { color: #FFFFFF; }

                .host { color: #FFFFFF; }

                .path { color: #FFFFFF; }
            }
        }

        &.#{$line}--active {
            display: block;
        }
    }
}
