.#{$shell}__#{$statusBar} {
    display: flex;
    flex-direction: row;
    height: 21px;
    align-items: stretch;
    flex-wrap: wrap;
    background: lighten(#292929, 4%);

    .#{$statusBar}__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 5px;

        .button {
            appearance: none;
            border: 0;
            padding: 0;
            outline: none;
            text-align: center;
            margin: 0 3px;
            border-radius: 50%;
            cursor: pointer;
            @include size(13px, 13px);
            @include adjust-font(15px, 13px);

            i {
                text-align: center;
                @include size(100%, 13px);
                display: block;

                &:before {
                    line-height: 13px;
                    display: block;
                }
            }
        }

        .button--close {
            background: $close-button-color;
            color: $close-button-color;

            &:hover {
                color: darken($close-button-color, 35%);
            }
        }

        .button--minimize {
            background: $minimize-button-color;
            color: $minimize-button-color;

            &:hover {
                color: darken($minimize-button-color, 20%);
            }
        }

        .button--enlarge {
            background: $enlarge-button-color;
            color: $enlarge-button-color;

            &:hover {
                color: darken($enlarge-button-color, 20%);
            }
        }
    }

    .#{$statusBar}__title {
        display: flex;
        @include adjust-font(16px, 27px);
        text-align: left;
        flex-grow: 97;
        color: inherit;
    }
}
