.#{$typedCursor} {
    opacity: 1;
    background-color: $main-text-color;
    animation: blink 1s infinite;
    @keyframes blink {
        0% { opacity: 0; }
        49% { opacity: 0; }
        50% { opacity: 1; }
    }
}
