@font-face {
    font-family: 'shell';
    src: url('../../assets/fonts/shell.eot?kg1zqe');
    src: url('../../assets/fonts/shell.eot?kg1zqe#iefix') format('embedded-opentype'),
    url('../../assets/fonts/shell.ttf?kg1zqe') format('truetype'),
    url('../../assets/fonts/shell.woff?kg1zqe') format('woff'),
    url('../../assets/fonts/shell.svg?kg1zqe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'shell' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e5cd"; }

.icon-enlarge:before { content: "\e3c1"; }

.icon-folder:before { content: "\e2c7"; }

.icon-command:before { content: "\e5dd"; }

.icon-minimize:before { content: "\e15b"; }

.icon-dot:before { content: "\e900"; }

.icon-key:before { content: "\e901"; }
