//Font families
%sans-serif { font-family: sans-serif; }

%monospace { font-family: monospace; }

//Font styles
%italic { font-style: italic; }

%normal { font-style: normal; }

//Font weights
%light { font-weight: 200; }

%book { font-weight: 300; }

%regular { font-weight: 400; }

%bold { font-weight: 700; }
