// Fonts
$base-font-size: 0.750;

// Colors
$main-text-color: #F1F1F1;
$main-windows-color: #69C1F0;
$gray-text-color: #878787;
$close-button-color: #FF4F37;
$minimize-button-color: #FEC600;
$enlarge-button-color: #00DB51;

// Resolutions
$mobile-width: 320px;
$tablet-width: 768px;
$regular-desktop-width: 1025px;
$medium-desktop-width: 1366px;
$large-desktop-width: 1600px;

// Classes
$shell: "shell";

$status-bar: "status-bar";
$shell-status-bar: "#{$shell}__#{$status-bar}";
$status-bar-buttons: "#{$status-bar}__buttons";
$status-bar-icon: "#{$status-bar}__icon";
$status-bar-title: "#{$status-bar}__title";

$content: "content";
$shell-content: #{$shell}__#{$content};

$button: "button";
$line: "line";
$line-prefix: "#{$line}__prefix";
$line-command: "#{$line}__command";
$cursor: "typed-cursor";
