$shell: "shell";

$status-bar: "status-bar";
$shell-status-bar: "#{$shell}__#{$status-bar}";
$status-bar-buttons: "#{$status-bar}__buttons";
$status-bar-icon: "#{$status-bar}__icon";
$status-bar-title: "#{$status-bar}__title";

$shell-content: "content";

$button: "button";
$line: "line";
$line-prefix: "#{$line}__prefix";
$line-command: "#{$line}__command";
$cursor: "typed-cursor";
